*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --color-correct: rgb(57, 235, 57);
    --color-wrong: rgb(223, 45, 45);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 20px;
    border: solid black 5px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    background-color: rgb(62, 231, 231);
    border-color: black;
    cursor: pointer;
}

.btn.correct {
    --hue: var(--color-correct);
}

.btn.wrong {
    --hue: var(--color-wrong);
}

#start-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.hide {
    display: none;
}